.nav {
   background-color: transparent;
    width: 96%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

@media (max-width: 900px) {
    .nav ul {
        width: auto;
        gap: 20px;
        padding-left: initial;
        margin-top: 18px;
    }
}

.nav-icon-container {
    display: flex;
    /* width: 30%; */
    margin-left: 70px;
    align-items: baseline;
}

@media (max-width: 900px) {
    .nav-icon-container {
        margin-left: 20px;
    }
}

.nav-icon-container h1 {
    font-size: 2rem;
}

@media (max-width: 900px) {
    .nav-icon-container h1 {
        font-size: 1.5rem;
    }
}

.nav i {
    color:navy;
}